<header>
      <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
      <nav class="round">
        <UL>
		<LI><%= link_to "Home", root_path %></li>
		<LI> <%= link_to "Help", help_path %></li>
		<LI> <%= link_to "Sign In", '#' %></li>
	</UL>
      </nav>
</header>
